**Project File 1 - Preprocessing**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Player's Dataset

*For Binary Classification*

Uploading the Main datasets

1. 2020 Games data
2. 2021 Games data
3. 2022 Games data
4. 2023 Games data
5. 2024 Games data

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2023matchdata.csv')

<ipython-input-3-3828196c9870>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2023matchdata.csv')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2022matchdata.csv')

<ipython-input-4-6eaa06b1de1a>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2022matchdata.csv')

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2021matchdata.csv')

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2020matchdata.csv')

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2024matchdata.csv')

##Data Preprocessing

Checking the five files for column similarities

In [ ]:
dataframes = [df1, df2, df3, df4, df5]

In [ ]:
columns_list = [df.columns for df in dataframes]

In [ ]:
same_columns = all(columns_list[0].equals(columns) for columns in columns_list)

In [ ]:
if same_columns:
    print("All DataFrames have the same columns.")
else:
    print("The DataFrames do not have the same columns.")
    for i, columns in enumerate(columns_list):
        print(f"Columns in DataFrame {i+1}: {list(columns)}")

All DataFrames have the same columns.

As the five files have same columns, we will now combine the files

In [ ]:
combined_df = pd.concat(dataframes, ignore_index=True)

In [ ]:
combined_df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1.0,13.01,...,131.0,322.0,263.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1.0,13.01,...,117.0,-357.0,-1323.0,-43.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1.0,13.01,...,162.0,-479.0,-324.0,-26.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1.0,13.01,...,122.0,200.0,292.0,20.0,0.0,0.0,0.0,1.0,0.0,0.0
4,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1.0,13.01,...,3.0,-216.0,-579.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
combined_df.shape[0]

605172

Keeping only the major league match data (CBLOL, LCK, LEC, LCS, LJL, LLA, LPL, PCS,VCS)

In [ ]:
leagues_to_keep = ['CBLOL', 'LCK', 'LEC', 'LJL', 'LLA', 'LPL', 'LCS', 'PCS', 'VCS']

In [ ]:
combined_df = combined_df[combined_df['league'].isin(leagues_to_keep)]

In [ ]:
combined_df.shape[0]

162756

This combined_df contains both match and player data. we will segregate the teams data and player data onto different dataset.

In [ ]:
player_df = combined_df[combined_df['position'] != 'team']

In [ ]:
player_df.describe()

,year,playoffs,game,patch,participantid,gamelength,result,kills,deaths,assists,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
count,135630.000000,135630.000000,135610.000000,135560.000000,135630.000000,135630.000000,135630.000000,135630.000000,135630.000000,135630.000000,...,112070.000000,112070.000000,112070.000000,112070.00000,112070.000000,112070.000000,112070.000000,112070.000000,112070.000000,112070.000000
mean,2021.837130,0.195458,1.686011,11.906556,5.500000,1932.032736,0.499963,2.610846,2.615948,6.112814,...,103.130695,0.000000,0.000000,0.00000,0.715240,1.242563,0.716980,0.715240,1.242563,0.716980
std,1.317127,0.396554,0.926831,1.299898,2.872292,341.428239,0.500002,2.552577,1.856171,4.290798,...,45.961394,931.320386,752.759513,23.47519,1.014935,1.445325,0.889425,1.014935,1.445325,0.889425
min,2020.000000,0.000000,1.000000,10.010000,1.000000,201.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-5448.000000,-5063.000000,-155.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.000000,0.000000,1.000000,11.030000,3.000000,1692.000000,0.000000,1.000000,1.000000,3.000000,...,86.000000,-525.000000,-455.000000,-10.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2022.000000,0.000000,1.000000,12.040000,5.500000,1886.000000,0.000000,2.000000,2.000000,5.000000,...,119.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,2023.000000,0.000000,2.000000,13.050000,8.000000,2130.000000,1.000000,4.000000,4.000000,9.000000,...,138.000000,525.000000,455.000000,10.00000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000
max,2024.000000,1.000000,5.000000,14.110000,10.000000,4216.000000,1.000000,22.000000,15.000000,31.000000,...,192.000000,5448.000000,5063.000000,155.00000,13.000000,14.000000,8.000000,13.000000,14.000000,8.000000

In [ ]:
player_df['position'].unique()

array(['top', 'jng', 'mid', 'bot', 'sup'], dtype=object)

In [ ]:
player_df.shape[0]

135630

In [ ]:
player_df.isna().sum()

gameid                 30
datacompleteness        0
url                 58220
league                  0
year                    0
                    ...
assistsat15         23560
deathsat15          23560
opp_killsat15       23560
opp_assistsat15     23560
opp_deathsat15      23560
Length: 131, dtype: int64

Keeping only the relevant columns that we may or may not use depending on further test.

In [ ]:
columns_to_keep = [
    'position', 'champion', 'result', 'kills', 'deaths', 'assists', 'teamkills', 'teamdeaths', 'firstblood', 'firstbloodkill', 'firstbloodassist', 'firstbloodvictim',
    'team kpm', 'ckpm', 'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute', 'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm',
    'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold', 'earned gpm', 'earnedgoldshare', 'goldspent', 'total cs', 'minionkills', 'monsterkills',
    'cspm', 'goldat10', 'xpat10', 'csat10', 'opp_goldat10', 'opp_xpat10', 'opp_csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10',
    'opp_killsat10', 'opp_assistsat10', 'opp_deathsat10', 'goldat15', 'xpat15', 'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15',
    'killsat15', 'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15'
]

In [ ]:
clean_df = player_df[columns_to_keep]

In [ ]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135630 entries, 204 to 605085
Data columns (total 65 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   position                  135630 non-null  object
 1   champion                  135630 non-null  object
 2   result                    135630 non-null  int64
 3   kills                     135630 non-null  int64
 4   deaths                    135630 non-null  int64
 5   assists                   135630 non-null  int64
 6   teamkills                 135630 non-null  int64
 7   teamdeaths                135630 non-null  int64
 8   firstblood                108080 non-null  float64
 9   firstbloodkill            135540 non-null  float64
 10  firstbloodassist          112120 non-null  float64
 11  firstbloodvictim          112120 non-null  float64
 12  team kpm                  135630 non-null  float64
 13  ckpm                      135630 non-null  float64
 14  damagetochampions         135550 non-null  float64
 15  dpm                       135550 non-null  float64
 16  damageshare               135550 non-null  float64
 17  damagetakenperminute      135550 non-null  float64
 18  damagemitigatedperminute  112170 non-null  float64
 19  wardsplaced               135550 non-null  float64
 20  wpm                       135550 non-null  float64
 21  wardskilled               135550 non-null  float64
 22  wcpm                      135550 non-null  float64
 23  controlwardsbought        135550 non-null  float64
 24  visionscore               131540 non-null  float64
 25  vspm                      131540 non-null  float64
 26  totalgold                 135630 non-null  int64
 27  earnedgold                135630 non-null  float64
 28  earned gpm                135630 non-null  float64
 29  earnedgoldshare           135630 non-null  float64
 30  goldspent                 135630 non-null  float64
 31  total cs                  135630 non-null  float64
 32  minionkills               135550 non-null  float64
 33  monsterkills              135550 non-null  float64
 34  cspm                      135630 non-null  float64
 35  goldat10                  112100 non-null  float64
 36  xpat10                    112100 non-null  float64
 37  csat10                    112100 non-null  float64
 38  opp_goldat10              112100 non-null  float64
 39  opp_xpat10                112100 non-null  float64
 40  opp_csat10                112100 non-null  float64
 41  golddiffat10              112100 non-null  float64
 42  xpdiffat10                112100 non-null  float64
 43  csdiffat10                112100 non-null  float64
 44  killsat10                 112100 non-null  float64
 45  assistsat10               112100 non-null  float64
 46  deathsat10                112100 non-null  float64
 47  opp_killsat10             112100 non-null  float64
 48  opp_assistsat10           112100 non-null  float64
 49  opp_deathsat10            112100 non-null  float64
 50  goldat15                  112070 non-null  float64
 51  xpat15                    112070 non-null  float64
 52  csat15                    112070 non-null  float64
 53  opp_goldat15              112070 non-null  float64
 54  opp_xpat15                112070 non-null  float64
 55  opp_csat15                112070 non-null  float64
 56  golddiffat15              112070 non-null  float64
 57  xpdiffat15                112070 non-null  float64
 58  csdiffat15                112070 non-null  float64
 59  killsat15                 112070 non-null  float64
 60  assistsat15               112070 non-null  float64
 61  deathsat15                112070 non-null  float64
 62  opp_killsat15             112070 non-null  float64
 63  opp_assistsat15           112070 non-null  float64
 64  opp_deathsat15            112070 non-null  float64
dtypes: float64(56), int64(7), object(2)
memory usage: 68.3+ MB

In [ ]:
clean_df.shape[0]

135630

In [ ]:
clean_df.isna().sum()

position               0
champion               0
result                 0
kills                  0
deaths                 0
                   ...
assistsat15        23560
deathsat15         23560
opp_killsat15      23560
opp_assistsat15    23560
opp_deathsat15     23560
Length: 65, dtype: int64

As per the Dataset provider, and the LOL esports official website, there are instances where a game was cancelled mid game due to bug. But because the game was started, the records were registered nonetheless. Due to the nature of the dataset, Filling the null values with regular preprocessing method might actually give us deminishing returns. instead, just dropping the rows containing null values. That still leaves us with a very large dataset to work with.

In [ ]:
final_df = clean_df.dropna()

In [ ]:
final_df.isna().sum()

position           0
champion           0
result             0
kills              0
deaths             0
                  ..
assistsat15        0
deathsat15         0
opp_killsat15      0
opp_assistsat15    0
opp_deathsat15     0
Length: 65, dtype: int64

In [ ]:
final_df.to_csv('Final players df.csv', index=False)

#Draft Dataset

*For MultiOutputRegresson model*

In [ ]:
filtered_df = pd.concat(dataframes, ignore_index=True)

##Data Preprocessing

Keeping only the team rows as we need the following columns

pick1, pick2, pick3, pick4, pick5, result

In [ ]:
filtered_df = filtered_df[filtered_df['position'] == 'team']

In [ ]:
filtered_df.shape[0]

100862

Keeping only the major league match data (CBLOL, LCK, LEC, LCS, LJL, LLA, LPL, PCS,VCS)

In [ ]:
leagues_to_keep = ['CBLOL', 'LCK', 'LEC', 'LJL', 'LLA', 'LPL', 'LCS', 'PCS', 'VCS']

In [ ]:
filtered_df = filtered_df[filtered_df['league'].isin(leagues_to_keep)]

In [ ]:
filtered_df.shape[0]

27126

In [ ]:
columns_to_keep1 = [
    'pick1', 'pick2', 'pick3', 'pick4', 'pick5',  'result'
]

In [ ]:
clean_df1 = filtered_df[columns_to_keep1]

In [ ]:
clean_df1.head()

       pick1    pick2     pick3     pick4         pick5  result
214       Vi  Caitlyn       Lux   K'Sante         Akali       0
215  Kalista   Maokai  Nautilus  Renekton          Azir       1
226    Yuumi    Poppy     Sivir     Sylas        Kennen       0
227     Zeri   Wukong      Lulu       Jax      Kassadin       1
238  Kalista   Wukong     Akali      Gwen  Heimerdinger       0

In [ ]:
clean_df1.isna().sum()

pick1     216
pick2     216
pick3     216
pick4     216
pick5     216
result      0
dtype: int64

Dropping the rows containing null values

In [ ]:
clean_df1.dropna(inplace=True)

<ipython-input-42-d9d108419b5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df1.dropna(inplace=True)

In [ ]:
clean_df1.shape[0]

26910

In [ ]:
clean_df1.to_csv('picktable.csv', index=False)